@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.main-heading {
  color: #6b7280 !important; /* Tailwind's text-gray-500 */
  font-weight: 200 !important; /* Tailwind's font-thin */
  font-size: 2.25rem !important; /* Tailwind's text-4xl */
  text-align: left !important;
  font-family: 'Inter', 'Helvetica Neue', Arial, 'sans-serif' !important;
}

body {
  font-family: 'Inter', 'Helvetica Neue', Arial, 'sans-serif' !important;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  body {
    font-size: 15px;
    padding: 0 8px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
    padding: 0 4px;
  }
}
