/* src/app/components/MedalTableHeader/MedalTableHeader.module.css */
.headerRow {
  border-bottom: 1px solid #9ca3af !important;
  width: 600px !important;
}

.headerCell {
  @apply py-2 px-4 text-center cursor-pointer;
  padding-top: 10px;
  text-align: center;
}

.headerCellCountry {
  width: 50%;
}

.headerCellMedal {
  width: 12.5%;
}

.goldMedal {
  display: inline-block;
  border-radius: 9999px;
  width: 25px;
  height: 25px;
  background-color: #ffd700;
}

.silverMedal {
  display: inline-block;
  border-radius: 9999px;
  width: 25px;
  height: 25px;
  background-color: #c0c0c0;
}

.bronzeMedal {
  display: inline-block;
  border-radius: 9999px;
  width: 25px;
  height: 25px;
  background-color: #cd7f32;
}

.activeSort {
  border-top: 2px solid #000000;
}
